.box-infos {
  background-color: blueviolet;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.titulo {
  color: black;
  font-weight: bold;
}

.item-add {
  color: black;
  font-weight: bold;
}

.price-total {
  color: black;
  font-weight: bold;
}
