.box-products {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  height: 300px;
}
h3 {
  margin: 5px;
  color: black;
}
img {
  margin: 10px auto;
  width: 100px;
}
.btn {
  width: 250px;
  height: 30px;
  margin: 20px auto;
  background-color: black;
  border: 0;
  border-radius: 5px;
  color: blueviolet;
  font-weight: bold;
  cursor: pointer;
}

.box-btn {
}
